<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>URWDIN-Black.ttf</string>
		<string>URWDIN-Bold.ttf</string>
		<string>URWDIN-Demi.ttf</string>
		<string>URWDIN-Light.ttf</string>
		<string>URWDIN-Medium.ttf</string>
		<string>URWDIN-Regular.ttf</string>
		<string>URWDIN-Thin.ttf</string>
		<string>URWDIN-XLight.ttf</string>
	</array>
</dict>
</plist>
